In [2]:
import pandas as pd

# Datos de ejemplo
data = {
    'color': ['rojo', 'rojo', 'rojo', 'azul', 'azul', 'verde', 'azul', 'azul', 'azul'],
    'tamaño': ['grande', 'grande', 'pequeño', 'grande', 'grande', 'pequeño', 'grande', 'grande', 'grande'],
    'clase': [1, 1, 0, 1, 0, 1, 1,1,1]
}

df = pd.DataFrame(data)

df

   color   tamaño  clase
0   rojo   grande      1
1   rojo   grande      1
2   rojo  pequeño      0
3   azul   grande      1
4   azul   grande      0
5  verde  pequeño      1
6   azul   grande      1
7   azul   grande      1
8   azul   grande      1

In [3]:

# Agrupar por 'color' y 'tamaño'
columnas_subset = ['color', 'tamaño']
grupos = df.groupby(columnas_subset)

# Mostrar cada grupo
for nombre_grupo, grupo in grupos:

    print(f"Nombre del grupo{nombre_grupo}")
    conteo_clases = grupo['clase'].value_counts()
    print(conteo_clases)
    max_clase = conteo_clases.max()
    print(f"La clase maxima es {max_clase}")

Nombre del grupo('azul', 'grande')
clase
1    4
0    1
Name: count, dtype: int64
La clase maxima es 4
Nombre del grupo('rojo', 'grande')
clase
1    2
Name: count, dtype: int64
La clase maxima es 2
Nombre del grupo('rojo', 'pequeño')
clase
0    1
Name: count, dtype: int64
La clase maxima es 1
Nombre del grupo('verde', 'pequeño')
clase
1    1
Name: count, dtype: int64
La clase maxima es 1

In [4]:

for x, y in grupos:
    print(x)
    print(y)

('azul', 'grande')
  color  tamaño  clase
3  azul  grande      1
4  azul  grande      0
6  azul  grande      1
7  azul  grande      1
8  azul  grande      1
('rojo', 'grande')
  color  tamaño  clase
0  rojo  grande      1
1  rojo  grande      1
('rojo', 'pequeño')
  color   tamaño  clase
2  rojo  pequeño      0
('verde', 'pequeño')
   color   tamaño  clase
5  verde  pequeño      1

In [5]:
def tasa_inconsistencia(df, subconjunto_caracteristicas, clase):

    m = len(df)
    total_inconsistencias = 0
    grupos = df.groupby(subconjunto_caracteristicas)
    for nombre_grupo, df_grupo in grupos:
        #numero total de instancias en cada grupo
        n = len(df_grupo)

        conteo_clases = df_grupo[clase].value_counts()
        # numero de instancias del grupo pertenecientes a la clase mas frecuente.
        if len(conteo_clases)>1:
            max_clase = conteo_clases.max()
            inconsistencias_grupo = n - max_clase
            total_inconsistencias+= inconsistencias_grupo

    return total_inconsistencias/m

In [6]:
data = {
    'feature1': [1, 1, 1, 2, 2, 3, 3, 3],
    'feature2': ['A', 'A', 'A', 'B', 'B', 'C', 'C', 'C'],
    'etiqueta': [0, 0, 1, 1, 1, 0, 1, 1]
}

df = pd.DataFrame(data)

print(tasa_inconsistencia(df, ['feature1', 'feature2'], 'etiqueta'))

0.25