In [1]:
import pandas as pd

In [2]:
covid_data1= pd.read_csv("/home/juan/proyectoTesis/datasets/covid_data.csv")

/tmp/ipykernel_11904/1016057918.py:1: DtypeWarning: Columns (0,1,6,7,8,9,10,12,13,14,15,17,18,19,20,21,22) have mixed types. Specify dtype option on import or set low_memory=False.
  covid_data1= pd.read_csv("/home/juan/proyectoTesis/datasets/covid_data.csv")

In [3]:
covid_data1
covid_data1.columns

Index(['Age', 'Sex', 'City', 'AdministrativeDivision', 'Country',
       'GeoPosition', 'DateOfOnsetSymptoms', 'DateOfAdmissionHospital',
       'DateOfConfirmation', 'Symptoms', 'LivesInWuhan', 'LivesInWuhanComment',
       'TravelHistoryDates', 'TravelHistoryLocation', 'ReportedMarketExposure',
       'ReportedMarketExposureComment', 'ChronicDiseaseQ', 'ChronicDiseases',
       'SequenceAvailable', 'DischargedQ', 'DeathQ', 'DateOfDeath',
       'DateOfDischarge'],
      dtype='object')

In [5]:
covid_data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 692145 entries, 0 to 692144
Data columns (total 23 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   Age                            577955 non-null  object
 1   Sex                            580157 non-null  object
 2   City                           255910 non-null  object
 3   AdministrativeDivision         532179 non-null  object
 4   Country                        692096 non-null  object
 5   GeoPosition                    692141 non-null  object
 6   DateOfOnsetSymptoms            261598 non-null  object
 7   DateOfAdmissionHospital        116211 non-null  object
 8   DateOfConfirmation             585049 non-null  object
 9   Symptoms                       1782 non-null    object
 10  LivesInWuhan                   1838 non-null    object
 11  LivesInWuhanComment            0 non-null       float64
 12  TravelHistoryDates             2611 non-null    object
 13  TravelHistoryLocation          9222 non-null    object
 14  ReportedMarketExposure         76 non-null      object
 15  ReportedMarketExposureComment  1 non-null       object
 16  ChronicDiseaseQ                692145 non-null  bool
 17  ChronicDiseases                150 non-null     object
 18  SequenceAvailable              6 non-null       object
 19  DischargedQ                    117 non-null     object
 20  DeathQ                         916 non-null     object
 21  DateOfDeath                    842 non-null     object
 22  DateOfDischarge                2306 non-null    object
dtypes: bool(1), float64(1), object(21)
memory usage: 116.8+ MB

In [7]:
df = covid_data1.copy()

#filtro cronologico
df['DateOfConfirmation'] = pd.to_datetime(df['DateOfConfirmation'], errors='coerce')
df = df.dropna(subset=['DateOfConfirmation'])

#Ordenar por fecha
df = df.sort_values(by='DateOfConfirmation', ascending=True)

#obtener los primeros 1495
df_replica = df.head(1495).copy()

print(f"Rango de fechas seleccionado: {df_replica['DateOfConfirmation'].min()} al {df_replica['DateOfConfirmation'].max()}")

Rango de fechas seleccionado: 2020-01-06 00:00:00+00:00 al 2020-02-02 00:00:00+00:00

In [8]:
df_replica

,Age,Sex,City,AdministrativeDivision,Country,GeoPosition,DateOfOnsetSymptoms,DateOfAdmissionHospital,DateOfConfirmation,Symptoms,...,TravelHistoryLocation,ReportedMarketExposure,ReportedMarketExposureComment,ChronicDiseaseQ,ChronicDiseases,SequenceAvailable,DischargedQ,DeathQ,DateOfDeath,DateOfDischarge
262542,46,Gender : Male,NaN,"AdministrativeDivision : {ChollaNamdo, SouthKo...",Country : SouthKorea,-GeoPosition-,NaN,NaN,2020-01-06 00:00:00+00:00,NaN,...,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,2020-02-15T00:00:00Z
277756,46,Gender : Male,NaN,"AdministrativeDivision : {ChollaNamdo, SouthKo...",Country : SouthKorea,-GeoPosition-,NaN,NaN,2020-01-06 00:00:00+00:00,NaN,...,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,2020-02-15T00:00:00Z
35,61,Gender : Female,"City : {Bangkok, Bangkok, Thailand}","AdministrativeDivision : {Bangkok, Thailand}",Country : Thailand,-GeoPosition-,2020-01-05T00:00:00Z,2020-01-08T00:00:00Z,2020-01-12 00:00:00+00:00,"{chills, fever, headache, sore throat}",...,"{City : {Wuhan, Hubei, China}}",NaN,NaN,False,NaN,True,NaN,NaN,NaN,NaN
34,61,Gender : Female,"City : {Bangkok, Bangkok, Thailand}","AdministrativeDivision : {Bangkok, Thailand}",Country : Thailand,-GeoPosition-,2020-01-05T00:00:00Z,2020-01-08T00:00:00Z,2020-01-12 00:00:00+00:00,"{chills, fever, headache, sore throat}",...,"{City : {Wuhan, Hubei, China}}",NaN,NaN,False,NaN,True,NaN,NaN,NaN,NaN
20,30,Gender : Male,NaN,"AdministrativeDivision : {Tokyo, Japan}",Country : Japan,-GeoPosition-,2020-01-03T00:00:00Z,2020-01-10T00:00:00Z,2020-01-15 00:00:00+00:00,"{cough, fever, sore throat}",...,"{City : {Wuhan, Hubei, China}}",False,NaN,False,NaN,NaN,True,NaN,NaN,2020-01-15T00:00:00Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
290024,75,Gender : Female,"City : {Zunyi, Guizhou, China}","AdministrativeDivision : {Guizhou, China}",Country : China,-GeoPosition-,NaN,NaN,2020-02-02 00:00:00+00:00,NaN,...,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN
548,64,Gender : Female,"City : {Tianshui, Gansu, China}","AdministrativeDivision : {Gansu, China}",Country : China,-GeoPosition-,2020-01-23T00:00:00Z,2020-01-30T00:00:00Z,2020-02-02 00:00:00+00:00,"{cough, sputum}",...,"{City : {Yichang, Hubei, China}}",NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN
547,64,Gender : Female,"City : {Tianshui, Gansu, China}","AdministrativeDivision : {Gansu, China}",Country : China,-GeoPosition-,2020-01-23T00:00:00Z,2020-01-30T00:00:00Z,2020-02-02 00:00:00+00:00,"{cough, sputum}",...,"{City : {Yichang, Hubei, China}}",NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN
289415,70,Gender : Male,"City : {Hanzhong, Shaanxi, China}","AdministrativeDivision : {Shaanxi, China}",Country : China,-GeoPosition-,NaN,2020-01-31T00:00:00Z,2020-02-02 00:00:00+00:00,NaN,...,"{City : {Suizhou, Hubei, China}}",NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN
291744,-Interval-,NaN,"City : {Suzhou, Jiangsu, China}","AdministrativeDivision : {Jiangsu, China}",Country : China,-GeoPosition-,NaN,NaN,2020-02-02 00:00:00+00:00,NaN,...,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,NaN